<configuration>

  <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />

  <springProfile name="mig">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
    </appender>

    <logger name="com.lms.api" level="DEBUG"/>

    <root level="WARN">
      <appender-ref ref="STDOUT" />
    </root>
  </springProfile>

  <springProfile name="test">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
    </appender>

    <logger name="com.lms.api" level="DEBUG"/>
    <logger name="reactor.netty.http.client" level="DEBUG"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>

    <root level="INFO">
      <appender-ref ref="STDOUT" />
    </root>
  </springProfile>

</configuration>
